#vista-previa-galeria {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.obra {
	padding: 2rem 0;
	text-align: center;
	line-height: 1;
	margin: 15px 40px;
}

span.enlace {
	font-size: small;
}

