#vista-previa-galeria {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.obra {
	padding: 2rem;
	text-align: center;
	line-height: 1;
	margin: 2rem;
	border: 1px solid #ddd;
}

span.enlace {
	font-size: small;
}

.muted {
	color: #b0b0b0;
}

